# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.sqlite3
db.sqlite3
/media/
*.log

# Migrations (optional: keep if you want them in source control)
**/migrations/
!**/migrations/__init__.py

# Virtual environment
venv/
ENV/
env/
.venv/

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.so
*.egg-info/
dist/
build/
